html,body{
    margin: 0;
    height: 100%;
    background: #000000;
    overflow-x: hidden;
}

.main-container{
   display: grid;
   justify-content: center;
   align-items: center;
   height: 100%;
}

ul{
    text-align: center;

}

ul li{
    color: white;
    display: inline-block;
    cursor: pointer;
    font-size: 2em;
}