html,body{
    margin: 0;
    height: 90%;
}

.main-container{
    height: 100%;
    padding: 1vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.panda-container{
    padding: 1vh;
    width: 100vh;
    height: 50vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
}


.panda-left-ear-container{
    width: 100%;
    height: 5rem;
    display: grid;
    justify-content: center;
    align-items: flex-end;
    animation-fill-mode: forwards;
    animation-name: split-left;
    animation-duration: 1000ms;
    animation-delay: 1000ms;
}
.panda-left-ear{
    background: black;
    width: 10rem;
    height: 8rem;
    z-index: 10;
    border-radius: 10rem 10rem 0 0 ;
    margin-top: 9vh;
    margin-left: 10vh;
    transform: rotate(-40deg);
}

.panda-left-container{
    display: grid;
    justify-content: end;
    align-items: center;
    z-index: 20;
    animation-fill-mode: forwards;
    animation-name: split-left;
    animation-duration: 1000ms;
    animation-delay: 1000ms;
}

.panda-left-body{
    background-color: white;
    width: 10rem;
    height: 20rem;
    border-radius: 10rem 0 0 10rem;
    border-left: 5px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.panda-left-eye-containter{
    width: 100%;
    height: 50%;
    display: grid;
    justify-content: center;
    align-items: flex-end;
    padding: 2vh;
    padding-top: 3vh;
}

.panda-left-eye{
    display: grid;
    justify-content: end;
    align-items: flex-start;
    background-color: white;
    height: 12vh;
    width: 12vh;
    border-radius: 100%;
    border: 25px solid black;
}

.panda-left-eye-pupil{
    background-color: black;
    height: 4vh;
    width: 4vh;
    border-radius: 100%;
    margin-top: 2vh;
    margin-right: 2vh;
}

.panda-left-noise-container{
    display: grid;
    justify-content: end;
}

.panda-left-noise{
    background: black;
    border-radius: 0 0 0 10rem;
    height: 4vh;
    width: 4vh;
}

.panda-left-mouth-container{
    display: grid;
    justify-content: end;
}

.panda-left-mouth{
    display: grid;
    justify-content: end;
    background: black;
    margin-top: 3vh;
    height: 1vh;
    width: 4vh;
    border-radius:  1rem 0  0 0 ;
}










.panda-right-container{
    display: grid;
    justify-content: start;
    align-items: center;
    animation-fill-mode: forwards;
    animation-name: split-right;
    animation-duration: 1000ms;
    animation-delay: 1000ms;
}

.panda-right-ear-container{
    width: 100%;
    height: 5rem;
    display: grid;
    justify-content: center;
    align-items: flex-end;
    animation-fill-mode: forwards;
    animation-name: split-right;
    animation-duration: 1000ms;
    animation-delay: 1000ms;
}
.panda-right-ear{
    background: black;
    width: 10rem;
    height: 7rem;
    z-index: 10;
    border-radius: 10rem 10rem 0 0 ;
    margin-top: 10vh;
    margin-left: -5vh;
    transform: rotate(50deg);
}

.panda-right-body{
    background-color: white;
    width: 10rem;
    height: 20rem;
    border-radius: 0  10rem 10rem 0;
    border-right: 5px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    z-index: 20;
}

.panda-right-eye-containter{
    width: 100%;
    height: 50%;
    display: grid;
    justify-content: start;
    align-items: flex-end;
    padding: 1vh;
}

.panda-right-eye{
    display: grid;
    justify-content: end;
    align-items: flex-start;
    background-color: white;
    height: 12vh;
    width: 12vh;
    border-radius: 100%;
    border: 25px solid black;
}

.panda-right-eye-pupil{
    background-color: black;
    height: 4vh;
    width: 4vh;
    border-radius: 100%;
    margin-top: 2vh;
    margin-right: 2vh;
}

.panda-right-noise-container{
    display: grid;
    justify-content: start;
    margin-top: 3vh;
}

.panda-right-noise{
    background: black;
    border-radius:0 0  10rem  0 ;
    height: 4vh;
    width: 4vh;
}

.panda-right-mouth-container{
    display: grid;
    justify-content: start;
}

.panda-right-mouth{
    display: grid;
    justify-content: end;
    background: black;
    margin-top: 3vh;
    height: 1vh;
    width: 4vh;
    border-radius:  0 1rem 0 0 ;
}



@keyframes split-left {
    from {
        margin-right: 0;
    }
    to {
        margin-right: 40vh;
        margin-left: -40vh;
    }
  }
  

  @keyframes split-right {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 40vh;
    }
  }

  @keyframes appear {
    from {opacity: 0;}
    to {opacity: 100;}
  }






/* SVG FIRE */


.mo-fire {
    z-index: 1000;
    animation-fill-mode: forwards;
    animation-name: appear;
    animation-duration: 1000ms;
    animation-delay: 1000ms;
    opacity: 0;
    height: auto;
    position: fixed;
    left:20%;
    bottom: -50px;
    z-index: 4;
}


.mo-fire svg {
width: 230vh;
height: auto;
position:relative;
right:50vh;
top: 10vh;
}
.flame {
animation-name: flameDisappear;
animation-duration: 2s;
animation-timing-function: linear;
animation-iteration-count: infinite;
opacity: 0.5;
transform-origin: 45% 45% 0;
}
.flame.one {
animation-delay: 1s;
animation-duration: 3s;
}
.flame.two{
animation-duration: 5s;
animation-delay: 1s;
}


.flame-main {
animation-name: flameMovement;
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
}
.flame-main.one {
animation-duration: 2.2s;
animation-delay: 1s;
}
.flame-main.two {
animation-duration: 2s;
animation-delay: 1s;
}
.flame-main.three {
animation-duration: 2.1s;
animation-delay: 3s;
}
.flame-main.four {
animation-duration: 3.2s;
animation-delay: 4s;
}
.flame-main.five {
animation-duration: 2.5s;
animation-delay: 5s;
}
@keyframes flameMovement {
50% {
transform: scale(0.98,1.0) translate(0, 2px) rotate(-1deg);
}
}
@keyframes flameDisappear {
0%{
transform: translate(0) rotate(180deg);
}
50% {
 opacity: 1;
}
100% {
transform: translate(-10px, -40px) rotate(180deg);
opacity: 0;
}
}