/* .main{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}

.center{
    display: grid;
    grid-template-columns: 50% 50%;
}



.square{
    position: relative;
    background-color: black;
    height:25vh;
    width: 25vh;
}

.l-square{
    border-radius: 75% 0% 0% 75%;
}


.r-square{
    border-radius: 0% 75% 75% 0%;
}

.l-square-animate{
    animation: l-square-animation 2s linear ;
}


.r-square-animate{
    animation: r-square-animation 2s linear ;
}

@keyframes l-square-animation{
    0%{top:0px;right: 0px;}
    25%{top:0px;right: 150px;}
    50%{top:0px;right: 300px;}
    75%{top:0px;right: 150px;}
    100%{top:0px;right: 0px;}
}

@keyframes r-square-animation{
    0%{top:0px;left: 0px;}
    25%{top:0px;left: 150px;}
    50%{top:0px;left: 300px;}
    75%{top:0px;left: 150px;}
    100%{top:0px;left: 0px;}
}




*/





.main{
    display: grid;
    min-height:100vh;
    background-color: rgb(233, 168, 168);
} 



.body{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 10% 50% 10%;
    background-color: red;
}


.leftEar{
    position: relative;
    top:0px;
    left:0px;
    width: 400px;
    height: 400px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    border: 10px solid white;
    margin: 120px;
}

.rightEar{
    position: relative;
    right:200px;
    width: 400px;
    height: 400px;
    background-color: black;
    border-radius: 100%;
    border: 10px solid white;
}

.face{
    background-color: black;
    border-radius: 100%;
    border: 10px solid white;

}

.front{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 90px;
}

.front1{
    background-color: black;
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px; /* 100px of height + 10px of border */
}

.front2{
    background-color: black;
    border-radius: 0% 100% 0% 0%;
}


.body{
    display: grid;
    
    background-color: #e9f1a1;
}