body{
    display: grid;
    grid-template-rows: 10vh auto;
    height: 500px;
}

header > nav{
    display:grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    margin-top: 1vh;
}
header > nav > a{
    margin-right: 15px;
}

ul > li{
    display: inline-block;
}